.header {
    z-index: 15;
    color: #100c08;
    position: sticky;
    top: 0;
    transition: all 0.2s ease 0s;
    border-bottom: 1px solid transparent;

    &._white {
        color: #fff;

        .header__top span {
            color: #100c08;
        }

        nav ul ul li {
            color: #100c08;
        }
    }

    &._sticky {
        background-color: #fff;
        border-color: rgba($color: #100c08, $alpha: 0.1);

        &._white {
            background-color: #100c08;
            border-color: rgba($color: #fff, $alpha: 0.1);
        }
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__top

    &__top {
        padding: 5px 0;
        background-color: currentColor;

        span {
            display: block;
            width: 100%;
            color: #fff;
            text-align: center;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            line-height: 86%;
        }
    }

    // .header__logo

    &__logo {
        @include adaptive-value("font-size", 18, 14, 1);
        font-weight: 700;
        text-transform: uppercase;

        @media (min-width: 993px) {
            flex: 1 1 auto;
        }
    }

    nav {
        flex: 1 1 auto;

        @media (max-width: 1024px) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;

            & > :not(:last-child) {
                margin-right: 3.5vw;
            }

            li {
                position: relative;

                &:has(ul) {
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                }

                @media (any-hover: hover) {
                    &:hover {
                        ul {
                            opacity: 1;
                            pointer-events: all;
                            visibility: visible;
                        }

                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }

                &[data-open] {
                    ul {
                        opacity: 1;
                        pointer-events: all;
                        visibility: visible;
                    }

                    svg {
                        transform: rotate(180deg);
                    }
                }

                button {
                    display: block;
                    width: 1em;
                    height: 1em;
                    flex: 0 0 auto;
                    margin-left: 1em;
                    color: inherit;

                    img,
                    svg {
                        transition: all 0.3s ease 0s;
                        stroke: currentColor;
                        width: 100%;
                        height: 100%;
                    }
                }

                a {
                }

                ul {
                    color: inherit;
                    display: block;
                    border-radius: 10px;
                    background-color: currentColor;
                    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
                    padding: 1em;
                    min-width: 186px;

                    position: absolute;
                    left: 0;
                    top: 100%;

                    transition: all 0.3s ease 0s;
                    opacity: 0;
                    pointer-events: none;
                    visibility: hidden;

                    li {
                        color: #fff;
                        @media (any-hover: hover) {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    & > :not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    // .header__actions

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > :not(:last-child) {
            margin-right: 3vw;
        }
        img,
        svg {
            cursor: pointer;
            transition: all 0.3s ease 0s;
            height: 18px;
            width: 18px;
            fill: currentColor;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    // .header__search

    &__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        transition: all 0.3s ease 0s;
        position: relative;

        input {
            font-size: 12px;
            font-weight: 400;
            line-height: 63%;
            letter-spacing: 0.6px;
            text-transform: initial;

            color: #fff;
            padding-right: 5px;
            transition: all 0.3s ease 0s;

            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }

        button {
            svg {
                pointer-events: none;
                height: 18px;
                width: 18px;
                fill: #fff;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                border: 1px solid rgba($color: #fff, $alpha: 0.1);
                padding: 5px;

                input {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

        &._active {
            border: 1px solid rgba($color: #fff, $alpha: 0.1);
            padding: 5px;

            input {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    // .header__account

    &__account {
        @media (max-width: 1024px) {
            display: none;
        }

        svg {
            pointer-events: none;
        }
    }

    // .header__cart

    &__cart {
    }

    // .header__burger

    &__burger {
        display: none;
        position: relative;
        margin-left: 20px;
        flex: 0 0 auto;
        width: 53px;
        height: 18px;
        overflow: hidden;
        background-color: transparent;
        border: 1px solid currentColor;
        color: currentColor;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        line-height: 1;
        z-index: 16;

        @media (max-width: 1024px) {
            display: block;
        }

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            transition: all 0.3s ease 0s;
        }

        & > :last-child {
            transform: translate3d(-50%, 200%, 0);
        }

        &._active {
            background-color: #fff;
            color: #100c08;

            & > :first-child {
                transform: translate3d(-50%, -200%, 0);
            }

            & > :last-child {
                transform: translate3d(-50%, -50%, 0);
            }
        }
    }
}
