.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    z-index: 15;

    @include adaptive-value("padding-top", 150, 100, 1);

    overflow: hidden;
    background-color: #111111;
    clip-path: circle(0 at 100% 0);
    transition: all 0.5s ease 0s;

    &._open {
        clip-path: circle(150% at 100% 0);
    }

    // .menu__container

    &__container {
        height: 100%;
    }

    // .menu__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 50px;
        height: 100%;

        img,
        svg {
            height: 18px;
            width: fit-content;
        }

        nav {
            ul {
                & > :not(:last-child) {
                    @include adaptive-value("margin-bottom", 40, 15, 1);
                }
                li {
                    transition: all 0.5s ease 0s;

                    a {
                        text-align: center;
                        @include adaptive-value("font-size", 44, 22, 1);
                        font-weight: 100;
                        letter-spacing: 1.1px;
                        text-transform: capitalize;
                        position: relative;
                    }
                }
            }
        }
    }

    // .menu__top

    &__top {
        max-width: 500px;
        width: 100%;
        margin-inline: auto;
        @include adaptive-value("margin-bottom", 150, 50, 1);
    }

    // .menu__search

    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;

        input {
            font-size: 12px;
            font-weight: 400;
            line-height: 63%;
            letter-spacing: 0.6px;
            text-transform: initial;
        }

        img {
        }
    }

    // .menu__acc

    &__acc {
        background-color: #fff;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptive-value("margin-top", 50, 25, 1);
        width: 100%;

        button {
            display: flex;
            align-items: center;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.6px;
            text-transform: initial;
            margin-top: 5px;

            span {
                display: block;
                margin: 0 5px;
            }

            a {
                white-space: nowrap;

                @media (any-hover: hover) {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
