.menu {
    position: fixed;
    width: 100%;
    right: 0;

    height: calc(100% - calc(78px + 22 * ((100vw - 375px) / 1545)));
    @include adaptive-value("top", 100, 78, 1);

    z-index: 16;
    overflow: hidden;
    background-color: #111111;
    clip-path: circle(0 at 100% 0);
    transition: all 0.5s ease 0s;

    &._open {
        @media (max-width: 1024px) {
            clip-path: circle(150% at 100% 0);
        }
    }

    // .menu__container

    &__container {
        height: 100%;
    }

    // .menu__body

    &__body {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        padding-top: 30px;
        height: 100%;

        img,
        svg {
            height: 18px;
            width: fit-content;
        }
    }

    // .menu__search

    &__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
        padding-bottom: 10px;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0;

        input {
            font-size: 12px;
            font-weight: 400;
            line-height: 63%;
            letter-spacing: 0.6px;
            text-transform: initial;
        }

        button {
            svg {
                pointer-events: none;
                width: 1em;
                height: 1em;
                fill: #fff;
            }
        }
    }

    nav {
        color: #fff;
        flex: 1 1 auto;

        ul {
            & > :not(:last-child) {
                @include adaptive-value("margin-bottom", 40, 15, 1);
            }
            li {
                transition: all 0.5s ease 0s;

                a {
                    text-align: center;
                    @include adaptive-value("font-size", 44, 22, 1);
                    font-weight: 100;
                    letter-spacing: 1.1px;
                    text-transform: capitalize;
                    position: relative;
                }
            }
        }
    }

    // .menu__acc

    &__acc {
        background-color: #fff;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptive-value("margin-top", 50, 25, 1);
        width: 100%;

        button {
            display: flex;
            align-items: center;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.6px;
            text-transform: initial;
            margin-top: 5px;

            span {
                display: block;
                margin: 0 5px;
            }

            a {
                white-space: nowrap;

                @media (any-hover: hover) {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
