.popup-account {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba($color: #100c08, $alpha: 0.9);
    transition: all 0.5s ease 0s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &._open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .popup-account__content {
            transform: translate3d(0, 0, 0) rotateX(0deg);
        }
    }

    // .popup-account__close

    &__close {
        @include adaptive-value("margin-bottom", 50, 30, 1);
        border: 1px solid rgba($color: #100c08, $alpha: 0.9);
        padding: 2px 15px;
        transition: all 0.3s ease 0s;

        @include adaptive-value("font-size", 16, 12, 1);

        @media (any-hover: hover) {
            &:hover {
                background-color: #100c08;
                color: #fff;
            }
        }
    }

    // .popup-account__body

    &__body {
        perspective: 600px;
        height: 100%;
        max-width: 600px;
        margin-inline: auto;

        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    // .popup-account__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        position: relative;
        width: 100%;
        min-height: 100%;
        background-color: #fff;
        color: #100c08;

        transform-style: preserve-3d;

        transform: translate3d(0, -15%, -250px) rotateX(15deg);
        transition: all 0.5s ease 0s;

        @media (max-width: 1024px) {
            padding: 1em;
        }
    }

    // .popup-account__title

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            @include adaptive-value("font-size", 42, 25, 1);
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 2.1px;
            margin-bottom: 5px;
        }
        label {
            font-size: 14px;
            text-align: center;
        }
    }

    // .popup-account__forgot

    &__forgot {
        width: fit-content;
        @include adaptive-value("font-size", 16, 14, 1);
        letter-spacing: 0.8px;
        border-bottom: 1px solid rgba($color: #100c08, $alpha: 1);
    }

    .form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptive-value("margin-top", 100, 30, 1);

        // .form-button

        &-button {
            @include adaptive-value("margin-top", 70, 30, 1);
            width: 100%;

            p {
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                @include adaptive-value("font-size", 16, 14, 1);
                font-weight: 300;
                line-height: 1.3;
                letter-spacing: 0.9px;
                opacity: 1;

                a {
                    font-weight: 500;
                    border-bottom: 1px solid rgba($color: #100c08, $alpha: 1);
                }

                @media (max-width: 768px) {
                    justify-content: center;
                }
            }
        }

        // .form__input

        &__input {
        }
    }
    ._shop {
        width: 100%;

        // ._shop-btn

        &-btn {
        }
    }

    .payment__form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
