.about {
    // .about__container

    &__container {
    }

    // .about__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .welcome {
            max-width: 930px;
            width: 100%;
            @include adaptive-value("font-size", 28, 18, 1);
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 0.84px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 15px;

            label {
                display: block;
                text-indent: 312px;

                @media (max-width: 768px) {
                    text-indent: 0;
                    display: contents;
                }
            }

            @media (max-width: 425px) {
                text-align: center;
            }
        }
    }

    // .about__content

    &__content {
        max-width: 307px;
        width: 100%;

        @media (max-width: 425px) {
            max-width: 100%;
            text-align: center;
        }

        div {
            margin: 15px 0;

            img {
                width: 100%;
            }
        }
    }
}

._shop {
    // ._shop-btn

    &-btn {
    }
}
