.advantages {
    // .advantages__container

    &__container {
    }

    // .advantages__body

    &__body {
    }

    ol {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            display: block;
            gap: 0;

            & > :not(:last-child) {
                margin-bottom: 10px;
            }
        }

        & > :nth-child(2n) {
            img {
                transform: translate(0, -50%) rotate(-10deg);
            }
        }

        & > :first-child {
            @media (min-width: 1025px) {
                grid-column-start: 2;
            }
        }

        li {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            color: rgba($color: #fff, $alpha: 0.3);
            background-color: transparent;
            transition: all 0.3s ease 0s;
            background-color: rgba($color: #fff, $alpha: 0.2);

            height: 250px;
            padding: 10px;

            @media (max-width: 1024px) {
                height: 200px;
            }

            @media (max-width: 600px) {
                height: 160px;
            }

            span {
                text-align: center;
                @include adaptive-value("font-size", 20, 16, 1);
                line-height: 130%;
                text-transform: uppercase;
            }

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(0, -50%) rotate(10deg);
                opacity: 0;
                max-width: 285px;

                transition: all 0.3s ease 0s;
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: #fff;
                    color: #000;

                    img {
                        opacity: 1;
                    }
                }
            }
        }

        a {
        }
    }
}
