.advantages {
    // .advantages__container

    &__container {
    }

    // .advantages__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        ol {
            width: 100%;

            li {
                position: relative;
                width: 100%;
                cursor: pointer;

                text-align: center;

                @include adaptive-value("padding-top", 25, 10, 1);
                @include adaptive-value("padding-bottom", 25, 10, 1);

                border-top: 1px solid rgba(255, 255, 255, 0.25);
                border-bottom: 1px solid rgba(255, 255, 255, 0.25);

                @media (min-width: 993px) {
                    opacity: 0.6;
                    filter: blur(2px);
                }

                transition: all 0.3s ease 0s;

                span {
                    display: block;
                    @include adaptive-value("font-size", 20, 12, 1);
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                img {
                    position: absolute;
                    left: 10%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-10deg);
                    @include adaptive-value("width", 381, 280, 1);
                    @include adaptive-value("height", 381, 280, 1);
                    opacity: 0;

                    transition: all 0.3s ease 0s;
                }

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 1;
                        filter: blur(0px);

                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
