.advantages {
    // .advantages__container

    &__container {
    }

    // .advantages__body

    &__body {
    }

    ol {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            display: block;
            gap: 0;

            & > :not(:last-child) {
                margin-bottom: 10px;
            }
        }

        & > :first-child {
            @media (min-width: 1025px) {
                grid-column-start: 2;
            }
        }

        li {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 250px;
            padding: 10px;

            color: rgba($color: #fff, $alpha: 0.3);

            background-color: #100c08;
            background-image: linear-gradient(315deg, #100c08 0%, #414141 74%);
            background-size: 300% 100%;
            animation: gradient 6s linear infinite;
            animation-direction: alternate;

            @keyframes gradient {
                0% {
                    background-position: 0%;
                }
                100% {
                    background-position: 100%;
                }
            }

            @media (max-width: 1024px) {
                height: 200px;
            }

            @media (max-width: 600px) {
                height: 160px;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: #fff;
                }
            }

            span {
                text-align: center;
                @include adaptive-value("font-size", 20, 16, 1);
                line-height: 130%;
                text-transform: uppercase;
                z-index: 3;
                position: relative;
            }

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 285px;
                opacity: 0;
                transform: translate(-50%, -50%);
                pointer-events: none;
                z-index: 2;

                @media (any-hover: none) {
                    display: none;
                }
            }
        }
    }
}
