.bestsellers {
    position: relative;

    // .bestsellers__container

    &__container {
    }

    // .bestsellers__body

    &__body {
    }

    // .bestsellers__slider

    &__slider {
        overflow: hidden;
    }

    ._ticker {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: -1;
        // ._ticker-text

        &-text {
            text-align: center;
            @include adaptive-value("font-size", 200, 100, 1);
            font-style: italic;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            span {
                text-shadow: 1px 1px 1px #fff;
                color: #000;
            }
        }
    }
}

.gallery-scroll {
    overflow: hidden;
    display: flex;
    justify-content: center;

    width: 100vw;
    margin-left: -50px;

    @media (max-width: 1440px) {
        margin-left: -30px;
    }

    @media (max-width: 1024px) {
        margin-left: -20px;
    }

    @media (max-width: 768px) {
        margin-left: -10px;
    }

    @media (any-hover: none) {
        overflow-x: auto;
        display: block;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    // .gallery-scroll__body

    &__body {
        display: flex;
        position: relative;

        & > :not(:last-child) {
            @include adaptive-value("margin-right", 47, 15, 1);
        }

        @media (any-hover: none) {
            padding-inline: 50px;

            @media (max-width: 1440px) {
                padding-inline: 30px;
            }

            @media (max-width: 1024px) {
                padding-inline: 20px;
            }

            @media (max-width: 768px) {
                padding-inline: 10px;
            }
        }
    }

    // .gallery-scroll__item

    &__item {
        min-width: 400px;

        @media (max-width: 1024px) {
            min-width: 0;
            @include adaptive-value("width", 400, 280, 1);
        }

        img {
            transition: all 0.3s ease 0s;
            filter: grayscale(1);
            pointer-events: none;
        }

        @media (any-hover: hover) {
            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }

        @media (any-hover: none) {
            img {
                filter: grayscale(0);
            }
        }
    }
}
