.big {
    position: relative;

    img{
        min-height: 350px;
        object-fit: cover;
    }

    // .big__container

    &__container {
    }

    // .big__body

    &__body {
    }

    // .big__content

    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: #fff;
            opacity: 1;
            @include adaptive-value("margin-bottom", 150, 30, 1);
            text-align: center;
            @include adaptive-value("font-size", 48, 18, 1);
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 1.44px;
            text-transform: uppercase;
        }

        a {
            background: unset;
            border: 1px solid #fff;
            color: #fff;
            max-width: 294px;
            width: 100%;
        }
    }
}
