.items {
    margin-top: 50px;

    // .items__container

    &__container {
    }

    // .items__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.products__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ._shop-btn {
        background-color: #000;
        color: #fff;
    }
}

.products__flex {
    margin-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px 10px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
    }
}

.catalog {
    // .catalog__filters

    &__filters {
        display: flex;
        margin-top: 50px;

        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & > :not(:last-child) {
                margin-bottom: 15px;
            }
        }

        @media (min-width: 551px) {
            & > :not(:last-child) {
                @include adaptive-value("margin-right", 50, 20, 1);
            }
        }

        // .catalog__filters-item

        &-item {
            position: relative;
            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                white-space: nowrap;
                line-height: 130%;
                text-transform: capitalize;

                span {
                    @include adaptive-value("font-size", 18, 16, 1);
                    @include adaptive-value("margin-right", 10, 5, 1);
                    display: block;
                }

                label {
                    pointer-events: none;
                    font-size: 14px;
                    font-weight: 400;
                }

                div {
                    transition: all 0.3s ease 0s;

                    background-color: #000;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px;

                    svg {
                        position: relative;
                        top: 0.5px;
                    }
                }
            }

            ul {
                min-width: 155px;
                width: 100%;
                position: absolute;
                top: 150%;
                left: 50%;
                right: 0px;
                z-index: 2;
                transform: translate3d(-50%, 10px, 0);
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease 0s;

                li {
                    cursor: pointer;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    @include adaptive-value("padding-left", 20, 10, 1);
                    @include adaptive-value("padding-right", 20, 10, 1);
                    transition: all 0.3s ease 0s;

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }

                ._selected {
                    background-color: #000;
                    color: #fff;
                }
            }

            &._active {
                button {
                    div {
                        transform: rotate(-180deg);
                    }
                }
                ul {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(-50%, 0, 0);
                }
            }
        }
    }
}

.product {
    // .product__top

    &__top {
    }

    // .product__sizes

    &__sizes {
    }

    // .product__bottom

    &__bottom {
    }

    // .product__info

    &__info {
    }

    // .product__name

    &__name {
    }

    // .product__price

    &__price {
    }
}
