.collection {
    // .collection__container

    &__container {
    }

    // .collection__body

    &__body {
        position: relative;
    }

    // .collection__content

    &__content {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 1024px) {
            justify-content: space-between;
        }

        @media (max-width: 768px) {
            justify-content: center;
        }

        // .collection__content-info

        &-info {
            max-width: 325px;
            width: 100%;

            @media (min-width: 769px) {
                @include adaptive-value("margin-right", 50, 25, 1);
            }

            p {
                @media (min-width: 769px) {
                    @include adaptive-value("margin-bottom", 50, 25, 1);
                }
                @media (max-width: 768px) {
                    text-align: center;
                }
            }
        }

        img {
            @media (min-width: 769px) {
                @include adaptive-value("width", 680, 200, 1);
            }

            @media (max-width: 768px) {
                width: 100%;
                margin: 15px 0;
            }
        }
    }

    // .collection__smallimg

    &__smallimg {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;

        img {
            @include adaptive-value("width", 331, 80, 1);
        }

        & > :first-child {
            margin-right: 40px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}
