.guide {
    background-color: #fff;
    color: #000;
    // .guide__container

    &__container {
    }

    // .guide__body

    &__body {
    }
}

.table {
    width: 100%;
    // .table__buttons

    &__buttons {
        display: flex;
        align-items: center;
        @include adaptive-value("margin-bottom", 25, 15, 1);

        & > :last-child {
            background-color: #fff;
        }

        & > :first-child {
            color: #fff;
        }

        button {
            @include adaptive-value("width", 40, 30, 1);
            @include adaptive-value("height", 40, 30, 1);

            border: 1px solid #000;
            background-color: #000;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }

            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;
            @include adaptive-value("font-size", 16, 12, 1);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
        }
    }

    // .table__scroll

    &__scroll {
        @media (max-width: 768px) {
            width: 100vw;
            margin-left: -10px;
            overflow-x: auto;
            padding: 0 10px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #000;
        display: flex;

        @media (max-width: 768px) {
            width: fit-content;
        }

        thead {
            display: flex;
            flex-direction: column;
            width: 19%;

            @media (max-width: 768px) {
                width: 140px;
                white-space: nowrap;
            }

            th {
                width: 100%;
                display: block;
                @include adaptive-value("font-size", 24, 14, 1);
                text-transform: uppercase;
                height: 50px;
                font-weight: 500;

                &:not(:last-child) {
                    border-bottom: 1px solid #000;
                }
            }
        }

        tbody {
            flex: 1 1 auto;

            tr {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                width: 100%;

                &:not(:last-child) {
                    border-bottom: 1px solid #000;
                }
            }
        }

        tr {
            text-align: left;

            td,
            th {
                padding: 10px;
                display: flex;
                align-items: center;
            }

            td {
                flex: 1 1 auto;
                height: 49px;
                @include adaptive-value("font-size", 22, 14, 1);
                border-left: 1px solid #000;
                text-align: center;
                justify-content: center;

                @media (max-width: 768px) {
                    width: 80px;
                    white-space: nowrap;
                }
            }
        }
    }
}
