.guide {
    background-color: #fff;
    color: #000;
    // .guide__container

    &__container {
    }

    // .guide__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            max-width: 658px;
            width: 100%;
            text-align: center;
        }
    }
}

.table {
    width: 100%;
    // .table__buttons

    &__buttons {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        & > :last-child {
            background-color: #fff;
        }

        & > :first-child {
            color: #fff;
        }

        button {
            width: 40px;
            height: 40px;
            border: 1px solid #000;
            background-color: #000;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }

            display: flex;
            align-items: center;
            justify-content: center;

            span {
                text-align: center;
                @include adaptive-value("font-size", 16, 12, 1);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }
        }
    }

    table {
        tbody {
            border: 1px solid #000;

            & > :not(:last-child) {
                border-bottom: 1px solid #000;
            }

            tr {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                @media (max-width: 992px) {
                    width: 100%;

                    & > :not(:first-child) {
                        display: inline;
                    }
                }

                & > :not(:last-child) {
                    border-right: 1px solid #000;
                }

                th {
                    width: 350px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    @include adaptive-value("padding-left", 80, 00, 1);

                    @include adaptive-value("font-size", 24, 18, 1);

                    line-height: 1.3;
                    text-transform: uppercase;

                    @media (max-width: 992px) {
                        width: 100%;
                        border-right: 0;
                        justify-content: center;
                        border-bottom: 1px solid #000;
                    }
                }

                td {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 210px;
                    @include adaptive-value("font-size", 22, 14, 1);
                    line-height: 1.3;

                    @media (max-width: 992px) {
                    }
                }
            }
        }
    }
}
