.home {
    position: relative;
    @include adaptive-value("padding-top", 50, 20, 1);

    .light {
        position: absolute;
        top: -150px;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0.5;
       
    }

    // .home__container

    &__container {
    }

    // .home__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            & > :first-child {
                margin-left: auto;
            }

            & > :last-child {
                margin-right: auto;
            }
            span {
                display: block;
            }
            width: 100%;

            @media (max-width: 425px) {
                position: relative;
            }
        }

        img {
            position: relative;
            z-index: 2;
            @include adaptive-value("width", 655, 233, 1);
            @include adaptive-value("height", 844, 316, 1);
        }
    }

    ._ticker {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        display: flex;
        align-items: center;

        max-width: 1920px;
        width: 100%;

        @media (any-hover: hover) {
            &:hover {
                .ticker-text {
                    animation-play-state: paused;
                }
            }
        }

        // ._ticker-text

        &-text {
            @include adaptive-value("font-size", 14, 12, 1);
            font-style: normal;
            white-space: nowrap;
            font-weight: 300;
            line-height: 1;
            letter-spacing: 10%;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                display: block;
                margin: 0 15px;
            }
        }
    }
}

.scene {
    position: relative;
    left: 20px;
    width: 100%;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: -500px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        box-shadow: inset 0 0 500px #100c08;
    }

    &:after {
        content: "";
        position: absolute;
        top: -200px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("@img/scene/glow.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: k-glow 5.6s ease-in-out infinite;
        z-index: -2;
    }

    // .scene-wrapper

    &-wrapper {
        width: 655px;
        height: 844px;
        position: relative;
        margin: 0 auto;
    }

    // .scene-image

    &-image {
        width: 100%;
        height: 100%;
        position: absolute;

        &:after {
            content: "";
            position: absolute;
            width: 40%;
            height: 0;
            bottom: 5px;
            left: 50%;
            transform: translate(-50%, 0);

            box-shadow: 0 0 145px 10px #fff;
        }

        // .scene-image__wrapper

        &__wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            perspective: 150px;
            transform-style: preserve-3d;
            left: 0;
            top: 0;
        }
    }

    .left {
        perspective-origin: left center;
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);

        animation: k-left-side 2s ease-in-out infinite;
        animation-direction: alternate;

        @keyframes k-left-side {
            0% {
                transform: rotateY(-1deg) scaleX(0.92);
            }
            100% {
                transform: rotateY(0deg) scaleX(1);
            }
        }
    }

    .right {
        perspective-origin: right center;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        margin-left: -0.55px;

        animation: k-right-side 2s ease-in-out infinite;
        animation-direction: alternate;

        @keyframes k-right-side {
            0% {
                transform: rotateY(0deg) scaleX(1);
            }
            100% {
                transform: rotateY(1deg) scaleX(0.92);
            }
        }
    }
}
