.trends {
    // .trends__container

    &__container {
    }

    // .trends__body

    &__body {
    }

    // .trends__flex

    &__grid {
        border: 1px solid rgba($color: #fff, $alpha: 0.3);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;

        @media (max-width: 1024px) {
            display: block;
        }

        & > :not(:last-child) {
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
        }

        & > :first-child {
            grid-row: span 3;
            flex-direction: column;
            border-right: 1px solid rgba($color: #fff, $alpha: 0.3);
            border-bottom: 0;

            @media (max-width: 1024px) {
                border-right: 0;
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
            }

            .trend-img {
                width: 100%;
                padding-bottom: 38%;

                @media (max-width: 1024px) {
                    width: 100%;
                }
            }

            .trend-info {
                margin-left: 0 !important;
                margin-top: 10px;
            }

            h3 {
                @include adaptive-value("font-size", 32, 18, 1);
                font-weight: 700;
                margin-bottom: 15px;
            }
        }
    }
}
